export const API_BASE_URL = "http://127.0.0.1:5000/" // Change me
export const API_MEDIA_LIST_URL =  API_BASE_URL + "api/available_media_types/"
export const API_STRUCTURE_BASE_URL = API_BASE_URL +  "api/structure/"
